<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

    <style>
        
        .btn-float-right-bottom{
	    float: right;
        position: absolute;
        right:    450px;
        bottom:   70px;
        }


        .btn-scale{
        transition: .2s ease-in-out 0s;
        }
        .btn-scale:hover{
        cursor: pointer;
        transform: scale(1.25);
      }

        
        </style>



</head>
<body>
<div class="bg-white">
    <!-- background start -->
    <div class=" bg-center bg-no-repeat  w-full h-screen  ;" style="background-image: url(image/main.jpg)" >
        <!-- button -->
        <div class="btn-float-right-bottom flex flex-col space-y-4 ">
        <button class="btn-scale"><img src="image/play.png" alt="start_button" style="width:280px;height:120px;" onclick="openTab('http://localhost:8080/uploadfile')" ></button>
        <button class="btn-scale"><img src="image/howto.png" alt="howto_button" style="width:280px;height:120px;" onclick="openTab('http://localhost:8080/howtoplay')" ></button>
        </div>
      
    </div>
    
</div>

    
    <script>
        /* change page */
		function openTab(url) {
			window.location.replace(url);
		}

		</script>
    
</body>
</html>